.wrapper {
    word-break: break-all;
    position: sticky;
    max-width: 375px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-inline-end: 1px solid var(--g-color-line-generic);
    inset-block-start: 0;
    max-height: calc(100vh - 72px);
}
