.wrapper {
  height: 58px;
  padding-inline: 24px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--g-color-line-generic);
  align-items: center;
}

.breadcrumbs {
  flex: 1;
  align-items: center;
}