.wrapper {
    position: relative;

    display: flex;
    align-items: center;
}

.popup {
    overflow: unset !important;
}

.icon {
    position: absolute;
    inset-inline-start: 7.5px;

    svg,
    path {
        fill: var(--g-color-text-secondary);
    }
}

.rightAlign {
    inset-inline-start: unset;
    inset-inline-end: 7.5px;
}

.datePicker {
    width: 100%;
    padding-inline-start: 24px;

    &::before {
        border-radius: 6px;
    }
}

.iconAfterInput {
    padding-inline-start: 0;
    padding-inline-end: 24px;
}
