.wrapper {
    margin-block-end: 8px;

    &:not(:last-child) {
        border-block-end: 1px solid var(--g-color-line-generic);
    }
}

.icon {
    color: var(--g-color-text-secondary);
}

.titleBox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .title {
        margin-inline-start: 8px;
    }
}

.items {
    display: flex;
    flex-direction: column;
    padding-block-start: 7px;
    padding-block-end: 7px;
}
