.wrapper {
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    padding-block-start: 16px;
    padding-block-end: 16px;

    overflow-y: scroll;
    max-height: 100%;
    flex: 1 0;
    scrollbar-gutter: stable;
}
